.button {
	text-decoration: none;
	color: red;
	font-size: xx-large;
	text-align: center;
	padding: 10%;
	border: 5px solid red; /*A tag styling to make it look like a button*/
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 60vh;
	justify-content: space-evenly;
	margin: auto;
	/*Button flex container positioning and setup*/
	margin-top: 10%;
}
.reset{
	margin-top: 10px;
}

body {
	background-color: #89cfef;
}
.button {
background-color: moccasin;
}

.small-shams img {
	position: relative;
	float: right;
	width: 5%;
	border: 1px solid black;
	border-radius: 50px;
	margin-top: -17vh;
}