* {
	margin: 0;
	padding: 0;/*setup for entire page*/
	box-sizing: border-box;
}
body {
	background-color: #89cff0;
}
h1 {
	color: red;/*header styling*/
	font: 40px;
}
header {
	height: fit-content;/*setup header with a flexbox to evenly space out its contents*/
	width: 100%;
	text-align: center;
	margin-bottom: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.start{
	width:10%;
	height: 10%;/*Set dimensions of the start button as well as positon it so it is centered*/
	position: relative;
	left:45%;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
	width: 21vh;
	height: 21vh;
	border: 1px solid gray;
	margin: 3px;
	border-radius: 6px;
	font-size: 10vh;
	text-align: center;/*Set the size and color of the input fields*/
	color: rebeccapurple;
	cursor: grab;
	caret-color: transparent;
}
#b1,
#b2,
#b3 {
	margin-top: 0;
}
#b8,
#b9,/*remove margin top and bottom from the top and bottom rows so that it doesnt interfere with the spacing*/
#b7 {
	margin-bottom: 0;
}
.goBack{
	text-decoration: none;
	padding:1vh;
	border: 2px solid red;
	margin:10px;
	color: red;/*Setup for return to menue button*/
	font-size: xx-large;
	background-color: moccasin;
}
.gameboard {
	border: solid black 5px;
	background-color: lightgray;
	margin: auto;
	display: flex;
	flex-direction: column;/*setup sizing and colors for gameboard flexbox*/
	width: fit-content;
	height: fit-content;
	padding: 0;
	padding-top: 2vh;
}
#butt {
	width: 95px;
	height: 40px;
	border: 1px solid;
	margin: auto;
	border-radius: 4px;/*setup for restart game button*/
}

.size{
	width: 100px;
	
}